body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.abc_obal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  background-color: rgb(247, 220, 220);
  padding: 1rem 0;
  border-bottom: 4px dotted black;
}

.abc_nastaveni {
  text-align: center;
  height: 2rem;
  margin: auto 0;
}

.abc_nastaveni label {
  font-size: large;
  color: rgb(42, 0, 0);
}

.abc_nastaveni select {
  width: 8rem;
  height: 2rem;
  background-color: rgb(236, 139, 139);
  border: 1px solid rgb(185, 55, 55);
  border-radius: 0.5rem;
  text-align: center;
}

.abc_nastaveni select:hover,
.abc_nastaveni button:hover,
.calc_mode_select:hover {
  background-color: rgb(172, 16, 16);
  cursor: pointer;
}

.abc_nastaveni button {
  width: 6rem;
  height: 2rem;
  background-color: rgb(236, 139, 139);
  border: 1px solid rgb(185, 55, 55);
  border-radius: 0.5rem;
}

.abc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.abc p {
  color: rgb(42, 0, 0);
  margin: 1rem 0 0.2rem 0.2rem;
}

.sloupek {
  width: 1.5rem;
  height: 4rem;
}

.sloupek input {
  width: 0.8rem;
  background-color: rgb(255, 240, 240);
}

.calculator_settings {
  width: 100vw;
  height: 3rem;
  background-color: rgb(247, 220, 220);
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator_settings label {
  margin: 0 0.2rem 0 2rem;
  font-size: large;
  color: rgb(42, 0, 0);
}

.calculator_inside {
  margin-top: 5rem;
}

.calc_mode_select {
  height: 1.4rem;
  width: 6rem;
  background-color: rgb(236, 139, 139);
  border: 1px solid rgb(185, 55, 55);
  border-radius: 0.5rem;
  text-align: center;
}

.inpt_soustava {
  width: 3rem;
  height: 1.4rem;
  font-size: large;
  background-color: rgb(236, 139, 139);
  border: 1px solid rgb(185, 55, 55);
  border-radius: 0.5rem;
}

.check_42 {
  width: 1.4rem;
  height: 1.4rem;
}

.calculator_normal {
  display: grid;
  grid-template-columns: 12rem 4rem;
  grid-template-rows: 4rem 4rem auto;
  margin: 0 auto;
  width: 16rem;
  padding: 0.8rem 1rem;
  background-color: rgb(172, 172, 172);
  border-radius: 2rem;
  box-shadow: 5px 5px rgb(94, 94, 94);
  border: 2px solid rgb(94, 94, 94);
}

.screen_obal {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  line-height: 4rem;
  font-size: 1.5rem;
  white-space: nowrap;
  background-color: rgb(139, 204, 42);
  border-radius: 0.7rem;
  border: 3px solid rgb(69, 149, 69);
}

.screen_obal p {
  position: absolute;
  width: 100vw;
  text-align: center;
  left: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

.znamenka_vodorovne {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.znamenka_svisle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.cisla {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.calculator_normal button {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.25rem;
  padding: 0;
  float: left;
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  box-shadow: 4px 4px rgb(79, 79, 79);
  background-color: rgb(163, 149, 124);
  border: none;
  border-radius: 0.5rem;
}

.calculator_normal button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px rgb(79, 79, 79);
  background-color: rgb(121, 110, 93);
}

.calculator_normal button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
  background-color: rgb(90, 81, 68);
}

.scroll {
  cursor: pointer;
  color: rgb(0, 59, 96);
}

.nocalc {
  height: 5rem;
  width: 27rem;
  background-color: rgb(161, 161, 161);
  line-height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 4rem;
  border: 4px dotted black;
  box-shadow: 5px 5px rgb(70, 70, 70);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.calculator_random {
  width: 20rem;
  height: 10rem;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 2rem;
  background-color: rgb(172, 172, 172);
  font-family: "Open Sans", sans-serif;
}

.random_nadpis {
  text-align: center;
  font-size: large;
}

.random_priklad {
  text-align: center;
}

.calculator_random button {
  width: 7rem;
  height: 2rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.random_wrong {
  float: left;
  margin-left: 2.5rem;
  background-color: rgb(227, 43, 43);
}

.random_wrong:hover {
  background-color: rgb(192, 0, 0);
}

.random_right {
  float: right;
  margin-right: 2.5rem;
  background-color: rgb(10, 200, 10);
}

.random_right:hover {
  background-color: rgb(1, 163, 1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
